= {{ scheme["title"]["value"] }}

Definitie:: {{ scheme["subject"]["value"] }}
Lijsttype:: {{ scheme["vocabType"]["value"] }}
Artefacten::
[no-bullet]
* xref::attachment${{ scheme["name"]["value"] }}.skos.ttl[SKOS concept scheme (Turtle),window=read-later]
* xref::attachment${{ scheme["name"]["value"] }}.shacl.ttl[SHACL shapes graph (Turtle),window=read-later]

== Codes

|===
| Code | Webpagina

{% for term in terms if not term["status"]["value"] == "https://inspire.ec.europa.eu/registry/status/invalid" %}
| [[{{ term["code"]["value"] }}]]{{ term["id"]["value"] }}[*{{ term["prefLabel"]["value"] }}*]
| {{ term["homepage"]["value"] }}
{% endfor %}
|===

[discrete]
=== Uitgefaseerd
{% for term in terms if term["status"]["value"] == "https://inspire.ec.europa.eu/registry/status/invalid" %}
{{ term["id"]["value"] }}[{{ term["prefLabel"]["value"] }}]{% if not loop.last %}, {% endif %}
{%- endfor %}
