= {{ scheme["title"]["value"] }}

Subject:: {{ scheme["subject"]["value"] }}
Vocabulary type:: {{ scheme["type"]["value"] }}
Artefacts::
[no-bullet]
* https://modellen.netbeheernederland.nl/begrippenlijsten/{{ scheme["notation"]["value"] }}.skos.ttl[SKOS concept scheme (Turtle,window=read-later)]
* https://modellen.netbeheernederland.nl/begrippenlijsten/{{ scheme["notation"]["value"] }}.shacl.ttl[SHACL shapes graph (Turtle),window=read-later]

{# TODO: These linked URIs should be dynamic and passed to the template ^ #}


== Terms

|===
| Label | Notation

{% for term in terms if not term["status"]["value"] == "https://inspire.ec.europa.eu/registry/status/invalid" %}
| [[{{ term["notation"]["value"] }}]]{{ term["uri"]["value"] }}[*{{ term["prefLabel"]["value"] }}*]
| `{{ term["notation"]["value"] }}`
{% endfor %}
|===

[discrete]
=== Deprecated
{% for term in terms if term["status"]["value"] == "https://inspire.ec.europa.eu/registry/status/invalid" %}
{{ term["uri"]["value"] }}[{{ term["prefLabel"]["value"] }}]{% if not loop.last %}, {% endif %}
{%- endfor %}
